html,body {
	height: 100%;
	margin: 0;
	background-color: #1f2021;
	font-family: 'Roboto';
}

#container {
	width: 90vw;
	height: 90vh;
	top: 5vh;
	left:5vw;
	position: relative;
	border-radius: 2vw;
	background-color: #6195e8;
	box-shadow: 0 0 3vw #6195e8;
	overflow: auto;
}

.textBox {
	width: 40vw;
	height: 75vh;
	/*position: absolute;*/
	float: left;
	margin-left: 1.8vw;
	margin-top: 5vh;
	border-width: 1vw;
	border-radius: 1vw;
	border-color: #595c60;
	font-size: 1.5vw;
	font-family: "Roboto";
	overflow: auto;
}

#input2{
	margin-right: 1vw;
}

button:focus {
	outline: none;
}
button::-moz-focus-inner {
	border:0;
}
.convert {
	width: 8vw;
	height: 8vw;
	position: absolute;
	background-color: red;
	top: 36vh;
	left:40.95vw;
	border-radius: 8vw;
	border:1vw solid #595c60;
	font-size: 1vw;
	font-weight:bold;
	color: white;
	font-family: 'Roboto';
	box-shadow: 0 0 1vw #595c60;
}

.convert:active {
	top:37vh;
}

#radioButtons1{
	float: left;
	margin-left: 35vw;
	font-size: 1vw;
	margin-top: 1.5vw;
}

#radioButtons2{
	float: left;
	margin-left: 2vw;
	font-size: 1vw;
	margin-top: 1.5vw;
}